
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*, *::before, *::after {
	box-sizing: border-box;
	/* border: 1px solid red; */
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 1.6;
}

header.header a {
	color: #FFF;
	text-decoration: none;
}

header.header {
	width: 100%;
	background: #1C1C24;
	color: #FFF;
	transition: all 0.3s ease-in-out;
}

header.header.sticky-header {
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	z-index: 100;
	animation: headerSticky .5s;
}

@keyframes headerSticky {
	0% {
		opacity: 0;
		transform: translateY(-100px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.nav-holder {
	min-height: 80px;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-size: 22px;
	line-height: 1;
	font-weight: 500;
}

.logo span {
	color: #F26522;
}

ul.nav-primary {
	margin: 0; padding: 0;
	list-style: none;
	display: inline-flex;
	gap: 5px;
	flex-wrap: wrap;
}

ul.nav-primary a {
	font-size: 15px;
	color: rgba(250, 250, 250, .6);
	padding: 10px;
}

ul.nav-primary a.active,
ul.nav-primary a:hover {
	color: rgba(250, 250, 250, 1);
}

/* Hamburger */

.ham {
	display: flex;
	align-items: center;
	gap: 7px;
	cursor: pointer;
	opacity: .8;
	transition: all .3s;
	
	display: none;
}

.ham:hover {
	opacity: 1;
}

.bars {
	--ham-width: 36px;
	width: var(--ham-width);
	height: var(--ham-width);
	display: inline-block;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M4 18h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1m0-5h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1M3 7c0 .55.45 1 1 1h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.bars.close {
	width: var(--ham-width);
	height: var(--ham-width);
	display: inline-block;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='white' stroke-linecap='round' stroke-width='2'%3E%3Cpath d='M5 5L12 5L19 5'%3E%3Canimate fill='freeze' attributeName='d' dur='0.4s' values='M5 5L12 5L19 5;M5 5L12 12L19 5'/%3E%3C/path%3E%3Cpath d='M5 12H19'%3E%3Canimate fill='freeze' attributeName='d' dur='0.4s' values='M5 12H19;M12 12H12'/%3E%3C/path%3E%3Cpath d='M5 19L12 19L19 19'%3E%3Canimate fill='freeze' attributeName='d' dur='0.4s' values='M5 19L12 19L19 19;M5 19L12 12L19 19'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

/* Mobile menu */

@media only screen and (max-width: 800px) {
	
	.ham {
		display: flex;
	}
	
	.top-nav {
		display: none;
	}
	
	.top-nav.nav-open {
		display: block;
		width: 100%;
		position: absolute;
		top: 80px;
		left: 0;
		background: rgb(53, 53, 53);
	}
	
	ul.nav-primary {
		display: flex;
		flex-direction: column;
		gap: 0;
	}
	
	ul.nav-primary li {
		display: block;
		width: 100%;
	}
	
	ul.nav-primary a {
		width: 100%;
		display: block;
		padding: 14px 30px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	
}/* 800px */



/* Just for testing styles */

section {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	/* border-top: 2px solid #F26522; */
}

section:nth-of-type(2n) {
	background:#ffe0d2;
}

section.section-x {
	background: #25252d;
	color: #f9f9f9;
}
